* {
  box-sizing: border-box;
}
h1 {
  font-size: 18px;
  background-image: linear-gradient(90deg, red,orange,yellow,green,blue,indigo,violet);
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 3px white;
  margin-left: 90px;
  /* margin-right: 84%; */
  text-align: center;
  max-width: 7cm;
}
ul {
  list-style: disc;
  margin: 1rem;
  padding: 1rem;
}
p {
  max-width: 10cm;
  margin-left: 20px;
  border: 3px;
  border-color: black;
  border-style: dashed;
  border-radius: 10px;
  padding: 10px;
  background-image: linear-gradient(skyblue, pink, white, pink, skyblue);
}
.tomato {
  max-width: 20%;
  float: right;
  margin-top: -18%;
  margin-right: -15px;
}